.vogel1 {
    display: inline;
    float: inline-start;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border: 1px solid black;
    width: 40%;
}

.vogel2 {
    display: inline;
    float: inline-start;
    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;
    border: 1px solid black;
    width: 40%;
}
