.vogel1 {
    display: inline;
    float: inline-start;
    padding: 2%;
    /*border: 2px solid black;*/
    width: 44%;
}

.vogel2 {
    display: inline;
    float: inline-end;
    padding: 2%;
    /*border: 2px solid black;*/
    width: 44%;
}
