.videofenster {
    margin: 1%;
    padding: 2%;
    width: 21%;
    height: auto;
    background-color:blueviolet;
    color: black;
    border: 2px solid greenyellow;
    display: inline-block;
}

#footer {
    margin: 1%;
    padding: 2%;
    width: 98%;
    height: auto;
    background-color:lightgreen;
    color:black;
    font-size: 24px;
    font-weight: bold;
    float:left;
}