.sidebar_links {
	margin-top: 2em;
	display: inline;
	float: inline-start;
	background-color: #146D6D;
	width: 50%;
	/*border: 1px solid lightgreen;*/
	font-size: 16px;
}

.sidebar_rechts {
	margin-top: 2em;
	display: inline;
	float: inline-end;
	background-color: #146D6D;
	width: 50%;
	/*border: 1px solid blue;*/
	font-size: 16px;
}
